footer{
    @include margin(150, 0, 0, 0, 80, 0, 0, 0, 1440);
    height: 300px;
    background: #181823;
    padding: 0 50px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__logo{
        @include text(50, 30, 1440);
        margin-bottom: 7px;
    }

}