@import "_starter";
@import "_header";
@import "_page-2";
@import "_page-3";
@import "_page-1";
@import "_page-4";
@import "_page-5";
@import "_page-6";
@import "_page-7";
@import "_page-8";
@import "_page-9";
@import "_page-10";
@import "_footer";
@import "_animations";



body{
    background-color: black;
}



*{
    color: white;
}

main{
    overflow: hidden;
}
